@font-face {
    font-family: 'Evolventa-Regular';
    src: local("Evolventa"), url("../fonts/Evolventa-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Evolventa-Oblique';
    src: local("Evolventa Oblique"), url("../fonts/Evolventa-Oblique.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Evolventa-Bold';
    src: local("Evolventa Bold"), url("../fonts/Evolventa-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Evolventa-BoldOblique';
    src: local("Evolventa Bold Oblique"), url("../fonts/Evolventa-BoldOblique.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Evolventa-Regular';
    src: local("Evolventa"), url("../fonts/Evolventa-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Evolventa-Oblique';
    src: local("Evolventa Oblique"), url("../fonts/Evolventa-Oblique.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Evolventa-Bold';
    src: local("Evolventa Bold"), url("../fonts/Evolventa-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Evolventa-BoldOblique';
    src: local("Evolventa Bold Oblique"), url("../fonts/Evolventa-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Evolventa-Regular';
    src: local("Evolventa"), url("../fonts/Evolventa-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Evolventa-Oblique';
    src: local("Evolventa Oblique"), url("../fonts/Evolventa-Oblique.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Evolventa-Bold';
    src: local("Evolventa Bold"), url("../fonts/Evolventa-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Evolventa-BoldOblique';
    src: local("Evolventa Bold Oblique"), url("../fonts/Evolventa-BoldOblique.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter-Black';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-Black.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-ExtraBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-ExtraLight';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-ExtraLight.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Light';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Thin';
    src: local("Evolventa Bold Oblique"), url("../fonts/Inter-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}